<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zedrig.moneysaverapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoneySaverApp">
        <activity android:name=".view.activity.ListaCategoriaActivity"></activity>
        <activity android:name=".view.activity.ResetPasswordActivity" />
        <activity android:name=".view.activity.EliminarCuentaActivity" />
        <activity android:name=".view.activity.CambiarPassActivity" />
        <activity android:name=".view.activity.CambiarNombreActivity" />
        <activity android:name=".view.activity.CambiarCorreoActivity" />
        <activity android:name=".view.activity.DatosActivity" />
        <activity android:name=".view.activity.PerfilActivity" />
        <activity android:name=".view.activity.NuevaCategoriaActivity" />
        <activity android:name=".view.activity.NuevoIngresoActivity" />
        <activity android:name=".view.activity.NuevoGastoActivity" />
        <activity android:name=".view.activity.PaginaPrincipalActivity" />
        <activity
            android:name=".view.activity.RegistrarUsuarioActivity"
            android:theme="@style/Noactionbar1" />
        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/Noactionbar1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>